{% extends 'base.html.twig' %}

{% block body_id 'register' %}

    {% block bodymain %}
        <center>
            <div style="width: 350px;float: none">
                <div class="jumbotron">
                    <div class="form-group">
                    {{ form_start(form) }}
                    {{ form_row(form.firstName, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.lastName, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.username, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.termsAccepted, { 'attr': {'class': 'form-control'} }) }}
                    <button type="submit" class="btn btn-primary">Register!</button>
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </center>
{% endblock %}



